p.border:hover {
    border-width: 2px!important;
    border-color:rgb(54, 54, 54)!important;
  }
  
.title {
    margin-bottom:0rem!important;
    color:black;
    font-weight:bold;
    font-family:Palatino, serif;
    font-size:1.25em;
}
  
#title-expand {
    float:right;
}

.project-abstract {
    text-align:justify!important;
    font-family:"Lucida Grande", sans-serif;
}

.abstract-title {
    padding-right:20px;
    word-spacing:100px;
    color:black;
    text-indent:50px;
    font-weight: bold;
    font-family:Palatino, serif;
    font-size:1.1em;
}