# Do not send these files to the context
*/__pycache__*
docker-compose.azure.group.yml
docker-compose.azure.prod.ssl.yml
docker-compose.azure.prod.yml
docker-compose.prod.yml
docker-compose.yml
deploy-aci.yml
.env
docker-web/web.env
docker-web/web.group.env
docker-nginx/nginx.env
docker-nginx/nginx.group.env
.vscode
