# Ignore files
*/static-serve/*
*/media/*

# Key files ssl
*.key
*.csr
*.crt
*.pem
*letsencrypt_archive.tar.gz

# TLS
*/letsencrypt/**
*jv-proxy

# Environment variables and secrets
.env
*.env
*.secret

# Other files
**/__pycache__/**
*.sqlite3
openssl.cfg
deploy-aci.yml
*.drawio
my_site.log
temp_migration.sql

# Other directories
/try1
/backup/

# Negations
!*/media/about/downloads/*
!*/media/about/images/*
!*media/jv_blog/downloads/
!*/media/jv_blog/downloads/*
!*/media/jv_blog/images/*
!*/media/testing/word-doc-sample.docx