{% extends 'jv_github/app_layout.html' %}
{% load static %}

{% block title-name %} <title> John Vorsten Github </title> {% endblock title-name %}

{% block content %}

<!-- Begin content loop -->
{% for repo in object_list %}
<div class="col-md-8 col-lg-6 py-4">
<article class="border rounded-1 box-shadow bg-gray-light my-4">

    <div class="f6 text-gray px-3 mt-3">
      {% comment %} <span class="tooltipped tooltipped-ne"> {% endcomment %}
        {% comment %} <svg height="14" class="octicon octicon-telescope mr-1" fill="#24292e" viewBox="0 0 14 16" version="1.1" width="12" aria-hidden="true">
        <path fill-rule="evenodd" d="M8 9l3 6h-1l-2-4v5H7v-6l-2 5H4l2-5 2-1zM7 0H6v1h1V0zM5 3H4v1h1V3zM2 1H1v1h1V1zM.63 9a.52.52 0 00-.16.67l.55.92c.13.23.41.31.64.2l1.39-.66-1.16-2-1.27.86.01.01zm7.89-5.39l-5.8 3.95L3.95 9.7l6.33-3.03-1.77-3.06h.01zm4.22 1.28l-1.47-2.52a.51.51 0 00-.72-.17l-1.2.83 1.84 3.2 1.33-.64c.27-.13.36-.44.22-.7z"></path></svg> {% endcomment %}
        <img src="{{ repo.repo_svg }}" alt="Img">
      {% comment %} </span> {% endcomment %}
      {% for tag in repo.tag_set.all %}
        {% if not forloop.last %}
          {{ tag.tag_text }}, 
        {% else %}
          {{ tag.tag_text }}
        {% endif %}
      {% endfor %}
    </div>

    <!-- Begin Git Link -->
  <div class="px-3">
    <div class="d-flex flex-justify-between my-3">

        <span style="margin-top:2px">
          <svg aria-label="repo" height="16" class="octicon octicon-repo text-gray mr-2" viewBox="0 0 12 16" version="1.1" width="12" role="img">
          <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path></svg>
        </span>

        <h1 class="f3 text-gray text-normal lh-condensed">
        <a href="{{ repo.repo_user.user_url }}">
            {{ repo.repo_user.username }}
        </a>
          /
        <a class="text-bold" href="{{ repo.repo_url }}">
            {{ repo.repo_name }}
        </a>
        </h1>

    </div>
  </div>

    <!-- Begin Tabs -->
    <div class="tabnav mx-0 my-2">
        <nav class="tabnav-tabs">
            <a href="{{ repo.repo_url}}" style="text-decoration:none; color:inherit;">
            <p class="tabnav-tab p-1 border" id="repolink">
            <img src="{% static 'jv_github/images/link-24px.svg' %}" alt="Link">
            Link
            </p></a>
        </nav>
    </div>

    {% comment %} <button type="button" class="btn btn-outline-primary btn-link">
    #TODO Actual Link
    </button> {% endcomment %}

    <!-- Begin Description -->
    <div class="border-bottom bg-white">
    <article class="p-2">
        <div class="d-flex justify-content-between flex-column">

            <span class="my-2">
            <img src="{% static 'jv_github/images/description-24px.svg' %}" alt="Link">
            Description
            </span>

            <p class="text-dark">
            {% if repo.repo_description_custom %}
              {{ repo.repo_description_custom }}
            {% else %}
              {{ repo.repo_description }}
            {% endif %}
            </p>

        </div>
    </article>
    </div>

</article>
</div>

{% empty %}
  <li> Sorry, no repositories were found to match the given user </li>
{% endfor %}

{% endblock content %}