{% extends 'projects/app_layout.html' %}
{% load static %}

{% block title-name %} <title> John Vorsten Blogs </title> {% endblock title-name %}

{% block app-css %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/index_style.css' %}">
{% endblock app-css %}

{% block content %}
<div class="container">
    <div class="row">

        <!-- Project Entries Column -->
        <div class="col">
            
            <div class="row">
                <h2>Projects</h2>
            </div>

            {% for entry, author in object_list %}
            <!-- Fill in Projects -->
            <div class="row">
                <div class="col">
                    <header>
                        <div class="title" id="#projectAbstract{{entry.id}}">
                            <h2 class=""><a href="{{ entry.entry_slug }}">{{ entry.entry_title }}</a></h2>
                            <p>{{ entry.entry_abstract }}</p>
                        </div>
                        <div class="footer">
                            <a class="btn-large" href="{{ entry.entry_slug }}" role="button">Continue Reading</a>
                        </div>
                        <div class="meta">
                            <time class="published" datetime="2015-11-01">{{ entry.entry_date }}</time>
                            <span class="name">{{ author }}</span><img src="" alt="">
                        </div>
                    </header>
                </div>
            </div>
            {% endfor %}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">
            <!-- Search Widget -->
            {% comment %} 
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            {% endcomment %}

            <!-- Side Widget -->
            <div class="card my-2">
                <h5 class="card-header">My Goal</h5>
                <div class="card-body">
                Welcome to my projects documentation.
                This serves as a showcase (for myself and others) of all the projects I work on. These entries are more formal, and usually longer, than blog entries.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

{% endblock content %}