{% extends 'projects/app_layout.html' %}
{% load static %}

{% block title-name %} <title> John Vorsten Blogs </title> {% endblock title-name %}

{% block app-css %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/index_style.css' %}">
{% endblock app-css %}

{% block content %}
<div class="container">
    <div class="row">

        <!-- Project Entries Column -->
        <div class="col-md-9">
            <div class="row">
                <h2>Projects</h2>
            </div>

            {% for entry in object_list %}
            <!-- Fill in Projects -->
            <div class="row">
                <div class="col">
                    <a class="" data-toggle="collapse" id="#projectAbstract{{entry.id}}">
                        <p class="px-1 py-2 border title">
                        {{ entry.entry_title }}
                        <img src="{{MEDIA_URL}}/projects/images/menu-24px.svg" alt="Link" id="title-expand"> 
                        </p>
                    </a>
                    <div class="collapse shadow-sm mb-3" id="projectAbstract{{entry.id}}">
                        <div class="px-1 py-1 mb-2">
                            <p class="project-abstract">
                            <bdi class="abstract-title">Abstract.</bdi> 
                            {{ entry.entry_abstract }}
                            </p>
                        </div>
                        <a class="btn btn-primary btn-sm ml-1 mb-1 active" href="{{ entry.entry_slug }}" type="Link">Continue</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">
            <!-- Search Widget -->
            {% comment %} 
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            {% endcomment %}

            <!-- Side Widget -->
            <div class="card my-2">
                <h5 class="card-header">My Goal</h5>
                <div class="card-body">
                Welcome to my projects documentation.
                This serves as a showcase (for myself and others) of all the projects I work on. These entries are more formal, and usually longer, than blog entries.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

{% endblock content %}