{% extends 'projects/app_layout.html' %}
{% load static %}

{% block title-name %} <title> MIL </title> {% endblock title-name %}

{% block app-css %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/mil_style.css' %}">
{% endblock app-css %}

{% block app-js %}
<script src="{% static 'projects/mil.js' %}" defer></script>
{% endblock app-js %}

{% block content %}
<!-- Description of page -->
<div class="row" id="page_description">
    <div class="col-md">
    <h3>Building automation objects bag prediction</h3>
    <p>
        Multiple instance learning
    </p>
    <p>
        Multiple instance learning - [...] give a short introduction on what MIL is. Talk about the project, and what each instance represents.
    </p>
    </div>
</div>

<!-- Data input fields for instance entry -->
<div class="row" id="mil_instances">

    <!-- Instance entry -->
    <div class="col-xl">
        <table class="table-striped table-hover table-bordered table-sm" id="instance_table">
            <thead>
                <tr>
                    <!-- String features -->
                    <th scope="col" id="add_remove"><img class="add_instance" src="{{MEDIA_URL}}projects/images/add-instance.svg" title="add instance" alt="add instance">
                    </th>
                    <th scope="col" id="NAME">NAME</th>
                    <th scope="col">DESCRIPTOR</th>
                    <th scope="col">TYPE</th>
                    <th scope="col">DEVUNITS</th>
                    <th scope="col">FUNCTION</th>
                    <th scope="col" id="CS">CS</th>
                    <th  scope="col" id="SENSORTYPE">SENSORTYPE</th>
                    <th scope="col">ALARMTYPE</th>
                    <th scope="col">NETDEVID</th>
                    <th scope="col">SYSTEM</th>
                    <!-- Numeric features (float) -->
                    <th scope="col">DEVICEHI</th>
                    <th scope="col">DEVICELO</th>
                    <th scope="col">SIGNALHI</th>
                    <th scope="col">SIGNALLO</th>
                    <th scope="col">SLOPE</th>
                    <th scope="col" id="INTERCEPT">INTERCEPT</th>
                    <!-- Boolean -->
                    <th scope="col">VIRTUAL</th>
                </tr>
            </thead>
            <tbody id="instance_table_body">
                <template id="instance_template">
                    <tr>
                    <td><img class="remove_instance" src="{{MEDIA_URL}}projects/images/remove-instance.svg" alt="remove instance" title="remove instance"></td>
                    <td>
                        <input class="form-control form-control-sm NAME" type="text" placeholder="Point.Equipment.Name" aria-label="NAME" required minlenght="3" maxlength="30">
                    </td>
                    <td>
                        <input class="form-control form-control-sm DESCRIPTOR" type="text" placeholder="point description" aria-label="DESCRIPTOR" required minlenght="3" maxlength="30">
                    </td>
                    <td>
                        <select class="TYPE" name="TYPE">
                            <option value="LAI">LAI</option>
                            <option value="LAO">LAO</option>
                            <option value="LDI">LDI</option>
                            <option value="LDO">LDO</option>
                            <option value="L2SL">L2SL</option>
                            <option value="LPACI">LPACI</option>
                            <option value="LENUM">LENUM</option>
                            <option value="LFSSL">LFSSL</option>
                        </select></td>
                    <td>
                        <select class="DEVUNITS" NAME="DEVUNITS">
                            <option value="Null"></option>
                            <option value="A">A</option>
                            <option value="BTU">BTU</option>
                            <option value="BTUh">BTUh<option value="">count</option>
                            <option value="DEG F">DEG F</option>
                            <option value="ft/min">ft/min</option>
                            <option value="ft2">ft2</option>
                            <option value="ft3/m">ft3/m</option>
                            <option value="gpm">gpm</option>
                            <option value="Hz">Hz</option>
                            <option value="in H2O">in H2O</option>
                            <option value="kWh">kWh</option>
                            <option value="mA">mA</option>
                            <option value="ohm">ohm</option>
                            <option value="PCT">PCT</option>
                            <option value="ppm">ppm</option>
                            <option value="rh">rh</option>
                            <option value="secs">secs</option>
                            <option value="tpn/h">ton/h</option>
                            <option value="V">V</option>
                            <option value="VA">VA</option>
                        </select>
                    </td>
                    <td>
                        <select class="FUNCTION" name="FUNCTION">
                            <option value="Value">Value</option>
                            <option value="Counter">Counter</option>
                            <option value="Slow">Slow</option>
                            <option value="Status">Status</option>
                            <option value="Enum">Enum</option>
                            <option value="Proof">Proof</option>
                            <option value="On/Off">On/Off</option>
                            <option value="Fast">Fast</option>
                            <option value="Null">Null</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control form-control-sm CS" type="text" placeholder="TTE" aria-label="CS" minlenght="1" maxlength="4" pattern="[A-Z]*|[a-z]*">
                    </td>
                    <td  >
                        <select class="SENSORTYPE" NAME="SENSORTYPE">
                            <option value="VOLTAGE">VOLTAGE</option>
                            <option value="L-TYPE">L-TYPE</option>
                            <option value="PNEUMATIC">PNEUMATIC</option>
                            <option value="RTDNICKEL">RTDNICKEL</option>
                            <option value="CURRENT">CURRENT</option>
                            <option value="?">?</option>
                            <option value="NULL">NULL</option>
                            <option value="RTD385">RTD385 </option>
                            <option value="THERMISTOR">THERMISTOR</option>
                            <option value="VIRTUAL">VIRTUAL</option>
                            <option value="RTD 1K NICKEL DIN">RTD 1K NICKEL DIN</option>
                            <option value="RTD">RTD</option>
                            <option value="RTD 1K NICKEL JCI">RTD 1K NICKEL JCI</option>
                            <option value="THERMISTOR 10K TPYE 3">THERMISTOR 10K TYPE 3 </option>
                            <option value="SERIES1000">SERIES1000</option>
                        </select>
                    </td>
                    <td>
                        <select class="ALARMTYPE" NAME="ALARMTYPE">
                            <option value="Standard">Standard</option>
                            <option value="Enhanced">Enhanced</option>
                            <option value="None">None</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control form-control-sm NETDEVID" type="text" placeholder="Building.Equipment.Controller" aria-label="NETDEVID" required minlenght="3" maxlength="30">
                    </td>
                    <td>
                        <input class="form-control form-control-sm SYSTEM" type="text" placeholder="AHU" aria-label="SYSTEM" required minlenght="3" maxlength="30">
                    </td>
                    <td>
                        <input class="form-control form-control-sm DEVICEHI" type="number" placeholder=0 aria-label="DEVICEHI" required min="-10000" max="10000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm DEVICELO" type="number" placeholder=10 aria-label="DEVICELO" required min="-10000" max="10000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm SIGNALHI" type="number" placeholder=1 aria-label="SIGNALHI" required min="-10000" max="10000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm SIGNALLO" type="number" placeholder=0 aria-label="SIGNALLO" required min="-10000" max="10000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm SLOPE" type="number" placeholder=0.012 aria-label="SLOPE" required min="-10.0" max="10.0" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm INTERCEPT" type="number" placeholder=0.0 aria-label="INTERCEPT" required min="-100" max="100" step="any">
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input VIRTUAL" type="checkbox">
                          </div>
                    </td>
                    </tr>
                </template>
                <!-- <tr>
                    <td><img class="remove_instance" src="{{MEDIA_URL}}projects/images/remove-instance.svg" alt="remove instance" title="remove instance"></td>
                    <td>
                        <input class="form-control form-control-sm NAME" type="text" placeholder="Point.Equipment.Name" aria-label="NAME">
                    </td>
                    <td>
                        <input class="form-control form-control-sm DESCRIPTOR" type="text" placeholder="point description" aria-label="DESCRIPTOR">
                    </td>
                    <td>
                        <select class="TYPE" name="TYPE">
                            <option value="LAI">LAI</option>
                            <option value="LAO">LAO</option>
                            <option value="LDI">LDI</option>
                            <option value="LDO">LDO</option>
                            <option value="L2SL">L2SL</option>
                            <option value="LPACI">LPACI</option>
                            <option value="LENUM">LENUM</option>
                            <option value="LFSSL">LFSSL</option>
                        </select></td>
                    <td>
                        <select class="DEVUNITS" NAME="DEVUNITS">
                            <option value="A">A</option>
                            <option value="BTU">BTU</option>
                            <option value="BTUh">BTUh<option value="">count</option>
                            <option value="DEG F">DEG F</option>
                            <option value="ft/min">ft/min</option>
                            <option value="ft2">ft2</option>
                            <option value="ft3/m">ft3/m</option>
                            <option value="gpm">gpm</option>
                            <option value="Hz">Hz</option>
                            <option value="in H2O">in H2O</option>
                            <option value="kWh">kWh</option>
                            <option value="mA">mA</option>
                            <option value="ohm">ohm</option>
                            <option value="PCT">PCT</option>
                            <option value="ppm">ppm</option>
                            <option value="rh">rh</option>
                            <option value="secs">secs</option>
                            <option value="tpn/h">ton/h</option>
                            <option value="V">V</option>
                            <option value="VA">VA</option>
                        </select>
                    </td>
                    <td>
                        <select class="FUNCTION" name="FUNCTION">
                            <option value="Value">Value</option>
                            <option value="Counter">Counter</option>
                            <option value="Slow">Slow</option>
                            <option value="Status">Status</option>
                            <option value="Enum">Enum</option>
                            <option value="Proof">Proof</option>
                            <option value="On/Off">On/Off</option>
                            <option value="Fast">Fast</option>
                            <option value="Null">Null</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control form-control-sm CS" type="text" placeholder="TTE" aria-label="CS">
                    </td>
                    <td  >
                        <select class="SENSORTYPE" NAME="SENSORTYPE">
                            <option value="VOLTAGE">VOLTAGE</option>
                            <option value="L-TYPE">L-TYPE</option>
                            <option value="PNEUMATIC">PNEUMATIC</option>
                            <option value="RTDNICKEL">RTDNICKEL</option>
                            <option value="CURRENT">CURRENT</option>
                            <option value="?">?</option>
                            <option value="NULL">NULL</option>
                            <option value="RTD385">RTD385 </option>
                            <option value="THERMISTOR">THERMISTOR</option>
                            <option value="VIRTUAL">VIRTUAL</option>
                            <option value="RTD 1K NICKEL DIN">RTD 1K NICKEL DIN</option>
                            <option value="RTD">RTD</option>
                            <option value="RTD 1K NICKEL JCI">RTD 1K NICKEL JCI</option>
                            <option value="THERMISTOR 10K TPYE 3">THERMISTOR 10K TYPE 3 </option>
                            <option value="SERIES1000">SERIES1000</option>
                        </select>
                    </td>
                    <td>
                        <select class="ALARMTYPE" NAME="ALARMTYPE">
                            <option value="Standard">Standard</option>
                            <option value="Enhanced">Enhanced</option>
                            <option value="None">None</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control form-control-sm NETDEVID" type="text" placeholder="Building.Equipment.Controller" aria-label="NETDEVID">
                    </td>
                    <td>
                        <input class="form-control form-control-sm SYSTEM" type="text" placeholder="AHU" aria-label="SYSTEM">
                    </td>
                    <td>
                        <input class="form-control form-control-sm DEVICEHI" type="numeric" placeholder=0 aria-label="DEVICEHI">
                    </td>
                    <td>
                        <input class="form-control form-control-sm DEVICELO" type="numeric" placeholder=10 aria-label="DEVICELO">
                    </td>
                    <td>
                        <input class="form-control form-control-sm SIGNALHI" type="numeric" placeholder=1 aria-label="SIGNALHI">
                    </td>
                    <td>
                        <input class="form-control form-control-sm SIGNALLO" type="numeric" placeholder=0 aria-label="SIGNALLO">
                    </td>
                    <td>
                        <input class="form-control form-control-sm SLOPE" type="numeric" placeholder=0.012 aria-label="SLOPE">
                    </td>
                    <td>
                        <input class="form-control form-control-sm INTERCEPT" type="numeric" placeholder=0.0 aria-label="INTERCEPT">
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input VIRTUAL" type="checkbox">
                          </div>
                    </td>
                </tr>
                <tr>
                    <td><img class="remove_instance" src="{{MEDIA_URL}}projects/images/remove-instance.svg" alt="remove instance" title="remove instance"></td>
                    <td>
                        <input class="form-control form-control-sm NAME" type="text" placeholder="Point.Equipment.Name" aria-label="NAME">
                    </td>
                    <td>
                        <input class="form-control form-control-sm DESCRIPTOR" type="text" placeholder="point description" aria-label="DESCRIPTOR">
                    </td>
                    <td>
                        <select class="TYPE" name="TYPE">
                            <option value="LAI">LAI</option>
                            <option value="LAO">LAO</option>
                            <option value="LDI">LDI</option>
                            <option value="LDO">LDO</option>
                            <option value="L2SL">L2SL</option>
                            <option value="LPACI">LPACI</option>
                            <option value="LENUM">LENUM</option>
                            <option value="LFSSL">LFSSL</option>
                        </select></td>
                    <td>
                        <select class="DEVUNITS" NAME="DEVUNITS">
                            <option value="A">A</option>
                            <option value="BTU">BTU</option>
                            <option value="BTUh">BTUh<option value="">count</option>
                            <option value="DEG F">DEG F</option>
                            <option value="ft/min">ft/min</option>
                            <option value="ft2">ft2</option>
                            <option value="ft3/m">ft3/m</option>
                            <option value="gpm">gpm</option>
                            <option value="Hz">Hz</option>
                            <option value="in H2O">in H2O</option>
                            <option value="kWh">kWh</option>
                            <option value="mA">mA</option>
                            <option value="ohm">ohm</option>
                            <option value="PCT">PCT</option>
                            <option value="ppm">ppm</option>
                            <option value="rh">rh</option>
                            <option value="secs">secs</option>
                            <option value="tpn/h">ton/h</option>
                            <option value="V">V</option>
                            <option value="VA">VA</option>
                        </select>
                    </td>
                    <td>
                        <select class="FUNCTION" name="FUNCTION">
                            <option value="Value">Value</option>
                            <option value="Counter">Counter</option>
                            <option value="Slow">Slow</option>
                            <option value="Status">Status</option>
                            <option value="Enum">Enum</option>
                            <option value="Proof">Proof</option>
                            <option value="On/Off">On/Off</option>
                            <option value="Fast">Fast</option>
                            <option value="Null">Null</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control form-control-sm CS" type="text" placeholder="TTE" aria-label="CS">
                    </td>
                    <td  >
                        <select class="SENSORTYPE" NAME="SENSORTYPE">
                            <option value="VOLTAGE">VOLTAGE</option>
                            <option value="L-TYPE">L-TYPE</option>
                            <option value="PNEUMATIC">PNEUMATIC</option>
                            <option value="RTDNICKEL">RTDNICKEL</option>
                            <option value="CURRENT">CURRENT</option>
                            <option value="?">?</option>
                            <option value="NULL">NULL</option>
                            <option value="RTD385">RTD385 </option>
                            <option value="THERMISTOR">THERMISTOR</option>
                            <option value="VIRTUAL">VIRTUAL</option>
                            <option value="RTD 1K NICKEL DIN">RTD 1K NICKEL DIN</option>
                            <option value="RTD">RTD</option>
                            <option value="RTD 1K NICKEL JCI">RTD 1K NICKEL JCI</option>
                            <option value="THERMISTOR 10K TPYE 3">THERMISTOR 10K TYPE 3 </option>
                            <option value="SERIES1000">SERIES1000</option>
                        </select>
                    </td>
                    <td>
                        <select class="ALARMTYPE" NAME="ALARMTYPE">
                            <option value="Standard">Standard</option>
                            <option value="Enhanced">Enhanced</option>
                            <option value="None">None</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control form-control-sm NETDEVID" type="text" placeholder="Building.Equipment.Controller" aria-label="NETDEVID">
                    </td>
                    <td>
                        <input class="form-control form-control-sm SYSTEM" type="text" placeholder="AHU" aria-label="SYSTEM">
                    </td>
                    <td>
                        <input class="form-control form-control-sm DEVICEHI" type="numeric" placeholder=0 aria-label="DEVICEHI">
                    </td>
                    <td>
                        <input class="form-control form-control-sm DEVICELO" type="numeric" placeholder=10 aria-label="DEVICELO">
                    </td>
                    <td>
                        <input class="form-control form-control-sm SIGNALHI" type="numeric" placeholder=1 aria-label="SIGNALHI">
                    </td>
                    <td>
                        <input class="form-control form-control-sm SIGNALLO" type="numeric" placeholder=0 aria-label="SIGNALLO">
                    </td>
                    <td>
                        <input class="form-control form-control-sm SLOPE" type="numeric" placeholder=0.012 aria-label="SLOPE">
                    </td>
                    <td>
                        <input class="form-control-sm INTERCEPT" type="numeric" placeholder=0.0 aria-label="INTERCEPT">
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input VIRTUAL" type="checkbox">
                        </div>
                    </td>
                </tr> -->
            </tbody>
        </table>
        
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-secondary" id="fill_template_instances">Example Instances</button>
                <label for="fill_template_instances">Fill table with example data</label>
                <p>This is a lot of data to input. If you want to see what typical data looks like, use the 'Example Instances' button to see some templated data</p>
            </div>
        </div>

    </div>
</div>

<!-- Run prediction -->
<div class="row" id="predict">
    <div class="col-sm">
        <h4>Results & configuration</h4>
        <p>Prediction: <output id="prediction_result">&nbsp</output></p>
        <button type="button" class="btn btn-primary btn-large" id="run_prediction">Run prediction</button>
        Predictor type: 
        <select class="predictor_type">
            <option value="CompNB">CompNB</option>
            <option value="MultiNB">MultiNB</option>
            <option value="SVMCL1SI">SVMCL1SI</option>
            <option value="SMVCL1MILES">SMVCL1MILES</option>
            <option value="SVMCRBFMILES">SVMCRBFMILES</option>
        </select>
    </div>
</div>

<div class="row" id="InputsDescription">
    <div class="col-sm">
        <h4>Description of predictor types</h4>
        <p>CompNB: Complement Naive Bayes classifier; suited for text classification (or categorical data), and designed to perform better than standard Naive Bayes with imbalanced datasets</p>
        <p>MultiNB: Multinomial Naive Bayes classifier; suited for text classification (or categorical data)</p>
        <p>SVMCL1SI: Support vector machine classifier; linear kernel; L1 regularization; inference of bag label from single-instance predictions</p>
        <p>SVMCRBFSI: Support vector machine classifier; RBF kernel; L2 regularization; inference of bag label from single-instance predictions</p>
        <p>SVMCL1MILES: Support vector machine classifier; linear kernel; l1 regularization; MILES embedding of bag instances</p>
        <p>SVMCRBFMILES: Support vector machine classifier; RBF kernel; L2 regularization; MILES embedding of bag instances</p>
        
        <h4>Descirption of input types, lengths, and validation requirements</h4>
        <!-- String features -->
        <p>NAME: (string) No input requirements, but usually dot delimeted like 'Building.Equipment.Extension'; maximum of ~30 characters</p>
        <p>DESCRIPTOR: (string) Maximum of 30 characters</p>
        <p>TYPE: (string) One of [LAO, LAI, LDI, LDO, L2SL, LFSSL, LPACI, LENUM]</p>
        <p>DEVUNITS: (string) One of [A, BTU, BTUh, count, DEG F, ft/min, ft2,ft3/m, gpm, Hz, in H2O, kWh, mA, ohm, PCT, ppm, rh, secs, ton/h, V, VA,]</p>
        <p>FUNCTION: (string) One of [Counter, Slow, Status, Enum, Value, Proof, On/Off, Fast] or Null</p>
        <p>CS: (string) No enumeration requirements, maximum 4 characters</p>
        <p>SENSORTYPE: (string) One of [L-TYPE, VOLTAGE, PNEUMATIC, RTDNICKEL, CURRENT, ?, NULL, RTD385,THERMISTOR, VIRTUAL, RTD 1K NICKEL DIN, RTD, RTD 1K NICKEL JCI, THERMISTOR 10K TYPE 3, SERIES1000]</p>
        <p>ALARMTYPE: (string) One of [None, Enhanced, Standard]</p>
        <p>NETDEVID: (string) No input requirements, but usually delimeted name like Building.Equipment.Controller</p>
        <p>SYSTEM: (string, optional) No input requirements, but usually a common equipment abbreviation like AHU/LEF/MAU/RTU</p>
        <!-- Numeric features (float) -->
        <p>DEVICEHI: (float)</p>
        <p>DEVICELO: (float)</p>
        <p>SIGNALHI: (float) No requirement, but usually one of [0,5,10,20,100]</p>
        <p>SIGNALLO: (float)  No requirement, but usually one of [0,5,10,20,100]</p>
        <p>SLOPE: (float) No requirement, but usually between -1&lt;x&gt;1 </p>
        <p>INTERCEPT: (float) No requirement. Typical -1000 to 1000</p>
        <!-- Boolean -->
        <p>VIRTUAL: (boolean) Recommended False</p>
    </div>
</div>

{% endblock content %}