{% extends 'projects/app_layout.html' %}
{% load static %}

{% block title-name %} <title> Clustering ranking </title> {% endblock title-name %}

{% block app-css %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/ranking.css' %}">
{% endblock app-css %}

{% block app-js %}
<script src="{% static 'projects/ranking.js' %}" defer></script>
{% endblock app-js %}

{% block content %}
<!-- Description of page -->
<div class="row" id="page_description">
    <div class="col-md">
        <h3>Optimal clustering using Learning to Rank (LTR)</h3>
        <p><b>Clustering</b></p>
        <p>Clustering is breaking sets of objects into groups (or clusters) so that objects
        within groups are similar to each other. A clusterer is a algorithm or function
        that is responsible or grouping objects. It requires a distance measurement
        between objects and and aggregation function to decide which group an object
        belongs in. The aggregation function requires an assumption to be made about
        the data it operates on, usually the optimal number of clusters (an integer), or 
        some type of distance threshold.</p>
        <p><b>Learning to Rank</b></p>
        <p>In ranking, the goal is to order a list of examples based on the relevance of each 
        example to a question. In this project, examples are clustering schemes, and
        the question is a dataset. A quality ranking model will optimally sort a list of
        clustering schemes, such that the clustering scheme that is most likely to predict
        the desired number of clusters is recommended. Ranking has applications in
        document retrieval and question answering, but the format has been adapted to this goal.</p>
        <img src="{{MEDIA_URL}}/jv_blog/images/feature_visualization.png">
        <p><b>Motivation</b></p>
        <p>This project’s goal is to optimally choose the best number of clusters that fit a
        dataset. Removing human input and automating the ‘number of clusters‘ decision is complex,
        and this project attepts to see how well a LTR model can help find automate this decision.</p>
    </div>
</div>

<!-- Data input fields for instance entry -->
<div class="row" id="ranking_features">

    <!-- Instance entry -->
    <div class="col-xl">
        <h3>Fill in your data</h3>
        <table class="table-striped table-hover table-bordered table-sm" id="features_table">
            <thead>
                <tr>
                    <!-- Float features -->
                    <th scope="col" id="NAME">Number of instances</th>
                    <th scope="col">Number of features</th>
                    <th scope="col">Categorical feature length variance</th>
                    <th scope="col">Ratio (instances : features)</th> <!--Auto calculate-->
                    <th scope="col">Number of 1-length text tokens</th>
                    <th scope="col">Number of 2-length text tokens</th>
                    <th scope="col">Number of 3-length text tokens</th>
                    <th scope="col">Number of 4-length text tokens</th>
                    <th scope="col">Number of 5-length text tokens</th>
                    <th scope="col">Number of 6-length text tokens</th>
                    <th scope="col">Number of 7-length text tokens</th>
                </tr>
            </thead>
            <tbody id="instance_table_body">
                <template id="instance_template">
                    <tr>
                    <td>
                        <input class="form-control form-control-sm n_instance" type="number" placeholder=15 aria-label="n_instance" required min="-10000" max="10000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm n_features" type="number" placeholder=200 aria-label="n_features" required min="0" max="100000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm len_var" type="number" placeholder=1.25 aria-label="len_var" required min="0" max="10000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm uniq_ratio" type="number" placeholder=0.12 aria-label="uniq_ratio" required min="0" max="1000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm n_len1" type="number" placeholder=0.05 aria-label="n_len1" required min="0" max="10000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm n_len2" type="number" placeholder=0.1 aria-label="n_len2" required min="0" max="10000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm n_len3" type="number" placeholder=0.65 aria-label="n_len3" required min="0" max="10000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm n_len4" type="number" placeholder=0.15 aria-label="n_len4" required min="0" max="10000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm n_len5" type="number" placeholder=0.05 aria-label="n_len5" required min="0" max="10000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm n_len6" type="number" placeholder=0.0 aria-label="n_len6" required min="0" max="10000" step="any">
                    </td>
                    <td>
                        <input class="form-control form-control-sm n_len7" type="number" placeholder=0.0 aria-label="n_len7" required min="0" max="10000" step="any">
                    </td>
                    </tr>
                </template>
            </tbody>
        </table>
        
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-secondary" id="fill_template_instances">Example features</button>
                <label for="fill_template_instances">Fill table with example data</label>
                <p>If you want to see what typical data looks like, use the 'Example features' button to see some templated data</p>
            </div>
        </div>

    </div>
</div>

<!-- Run prediction -->
<div class="row" id="predict">
    <div class="col-sm">
        <h4>Results</h4>
        <p>Prediction: <output id="prediction_result">&nbsp</output></p>
        <button type="button" class="btn btn-primary btn-large" id="run_prediction">Run prediction</button>
    </div>
</div>

<div class="row" id="InputsDescription">
    <div class="col-sm">
        <h4>Descirption of input types and validation requirements</h4>
        <!-- String features -->
        <p><b>Number of instances:</b> (float) Number of instances which are to be clustered</p>
        <p><b>Number of features:</b> (float) Number of non-zero features for each instance representing a cluster. This feature is intended to represent spread of categorically encoded text features. </p>
        <p><b>Categorical feature length variance:</b> (float) Variance of tokenized text feature length. This metric is intended to be a proxy for within-cluster similarity</p>
        <p><b>Ratio: (float) Ratio of number of instances:</b> number of features</p>
        <p><b>Number of 1-length categorical features:</b> (int) [0-1] The data used in this project included a single tokenized text feature, and the text feature was between (1) to (7) tokens in length. This feature represents the number of instances with a tokenized length of (1) normalized by the number of instances</p>
        <p><b>Number of 2-length categorical features:</b> (int) See above...</p>

    </div>
</div>

<div class="row" id="InputsDescription">
    <div class="col-sm">
        <h4>Description of output types</h4>
        <!-- String features -->
        <p><b>Possible clustering algorithms:</b> [average,kmeans,ward.D,Ward.D2] Clustering algorithms are responsible
        for making decisions on which cluster instances belong to. Kmeans is a general-purpose (but computationally expensive) clustering algorithm
        based on monte-carlo simulations. Average, ward.D and ward.D2 are agglomerative methods.
        Hierarchial or agglomerative clustering is the process of successively splitting
        or merging clusters based on a linkage criteria between clusters.</p>
        <p><b>Distance metrics:</b> [CCC, Ball, Dindex, gap, Cindex, [...]] There are 30 possible clustering metrics, and all 
        metrics attempt to find a balance between intra-cluster and inter-cluster distance.</p>
        <p>The ranking model outputs other clustering hyperparameters, for example whether data is dimensionally reduced, but they are not described here for brevity.
    </div>
</div>

{% endblock content %}