{% extends 'polls/app_layout.html' %}

{% block content %}

    <h1> Question List </h1>
    {% if recent_question_list %}
        <ul>
        <!-- recent_question_list is derived from context_object_name in IndexView --> 
        {% for question in recent_question_list %}
            <li>
                <a href="{% url 'polls:detail' question.id %}"> {{ question.question_text }} </a>
            </li>
        {% endfor %}
        </ul>

    {% else %}
        <p> No polls are available. </p>
    {% endif %}
    
{% endblock content %}