li a {
    font-size: 20px;
    color:rgb(241, 224, 219)
}

body {
    /* padding-top: 65px; */
    background:#0f121a;
    /* background: #7e3d3d; */
    url("images/background.gif"): no-repeat;
    color:#fff
}

p {
    font-size: 20px;
}

h1 {
    text-align: center
}