{% extends 'about/app_layout.html' %}
{% load static %}

{% block app-css %}
<link rel="stylesheet" type="text/css" href="{% static 'about/style.css' %}">
<style>
.row-block {
    background-image:url("{{MEDIA_URL}}about/images/marco-mtn2-unsplash.jpg");
    background-size:cover;
    position:relative;
}
</style>
{% endblock app-css %}

{% block title-name %} <title>About Me</title> {% endblock title-name %}

{% block content %}
<div class="row row-block">

<div class="col-3">

        <div class="row d-none d-sm-none d-md-block">
            <a href="{% url 'jv_blog:index' %}" style="text-decoration:none; color:inherit;">
            <div class="card linkbox ml-auto">
                <img class="card-img-top" src="{{MEDIA_URL}}about/images/chat_bubble_outline-24px.svg" alt="Blog">
                <div class="card-body">
                    <h5 class="card-title">Blog</h5>
                </div>
            </div>
            </a>
        </div>

</div>

<div class="col-6 text text-center pt-3 profile">
    <div class="profile-picture">
        <img class="img-fluid" src="{{MEDIA_URL}}about/images/headshot2-sq.jpg" alt="">
    </div>

    <div class="description p-4">
        <h2 class="greeting">Hello I'm</h2>
        <h1 class="mb-4">John Vorsten</h1>
        <ul>
            <li><span class="field-id">Email :</span> johnvorsten@yahoo.com</li>
        </ul>
        <p class="mb-1">This is John Vorsten's repository of projects and notes. Everything he works on is stored here to show off and help others who are solving a similar problem. John works as a systems engineer that focuses on making distributed systems work together. He is passionate about how technology touches people, and how to make tools that work for us. John likes working in groups, charting, breaking down problems, and then finding creative ways to solve those problems.</p>
        <p><a href="{% url 'jv_blog:index' %}" style="text-decoration:none; color:inherit;">Read about my projects<img class="" src="{{MEDIA_URL}}about/images/arrow_right_alt-24px.svg"></i></a></p>
    </div>
</div>

<div class="col-3">

        <div class="row d-none d-sm-none d-md-block">
            <a href="{% url 'projects:index' %}" style="text-decoration:none; color:inherit;">
            <div class="card linkbox mr-auto">
                <img class="card-img-top" src="{{MEDIA_URL}}about/images/iconmonstr-light-bulb-16.svg" alt="Projects">
                <div class="card-body">
                    <h5 class="card-title">Projects</h5>
                </div>
            </div>
            </a>
        </div>

</div>

</div> <!-- End Row -->
<div class="container">
<div class="mb-5 row">
    <div class="col-md-6">
        <h3 class="">Downloads</h3>
        <a class="btn btn-custom" href="{{MEDIA_URL}}about/downloads/John Vorsten - Resume Developer.pdf" download>Download Resume</a>
    </div>
</div>
</div>

<div class="container">
<div class="row">
    <div class="mb-5 col-lg-6 col-md-8">
        <h3>Skills & Technolgoies</h3>
        <div class="row">
            <div class="col-sm">
                <h4>Languages</h4>
                <p>Python</p>
            </div>
            <div class="col-sm">
                <h4>Web tools</h4>
                <p>Django, HTML, CSS</p>
            </div>
            <div class="col-sm">
                <h4>Operations</h4>
                <p>Docker, Nginx, Azure, Linux / bash</p>
            </div>
            <div class="col-sm">
                <h4>Databases</h4>
                <p>SQL (generic / SQL Server),  Mongo</p>
            </div>
        </div>
    </div>
    <div class="mb-5 col-lg-6 col-md-8">
        <h3>Projects</h3>
        <div class="row">
            <div class="col-sm">
                <h4>Points Categorizer</h4>
                <p>Categorization, grouping, machine learning</p>
            </div>
            <div class="col-sm">
                <h4>Web application</h4>
                <p>Django, Python</p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}