body {
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    background-color:rgba(240,240,240,1);
  }

.col-6 {
  padding:0;
}

.img-fluid {
  max-width: 100%;
  max-height: 200px;
  height:auto;
  border-radius: 50%;
  object-fit: cover;
}

.row-block {
  max-width:100%;
  height:auto;
  object-fit: cover;
  margin-bottom: 70px;
  padding-left:0em;
  padding-right:0em;
  margin-right:0px;
  margin-left:0px;
  padding-top:10px;
  z-index:1;
}

.linkbox {
  position: relative;
  max-width: 60px;
  top:70px;
  transition-duration: 0.3s;
}

.card-body {
  padding-top: 3px;
  padding-bottom: 3px;
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:2px;
  margin-bottom:2px;
  width:80%;
}

.card-title {
  text-align: center;
  margin: 0;
  font-size: 1rem;
  display: none;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

.linkbox:hover .card-title {
  display:block;
  -webkit-animation: fadeIn 0.8s;
}

.linkbox:hover {
  max-width:110px;
}

/* Buttons */

a:-webkit-any-link {}

.btn-custom {
  border:1px solid #28023D !important;
  background-color: #28023D !important;
  color: #fff;
  font-size:1em !important;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.05s;
}

.btn-custom:hover {
  text-decoration-color: rgb(255, 255, 255) !important;
  background-color: #fff !important;
  cursor: pointer;
  text-decoration: underline;
}

/* Profile text information */

.text h2 {
  margin-botton:0.5em;
  font-family:poppins, Arial;
  color:rgba(42, 43, 51, 0.7);
  font-size:1rem;
}

.text h1 {
  font-weight:700;
  margin-bottom: 1.5rem!important;
  color:rgba(0,0,0,0.8);
  /* font-family: poppins, Arial, sans-serif; */
  font-family: poppins, Arial, sans-serif;
}

.text p {
  box-sizing: border-box;
  display:block;
  font-size: 1.125em;
  color:rgba(39, 41, 51, 0.8);
  text-align:justify;
}

.profile {
  background-color:rgba(240,240,240,1);
  position:relative;
  top:70px;
  border-radius:5px;
}

.description p a {
  text-decoration:None;
  color:inherit;
  border-bottom-width: 1px;
  border-bottom-color:rgba(39, 41, 51, 0.7);
  border-bottom-style: solid;
}

.col-3 .row {
  margin-left:0px;
  margin-right:0px;
}

/* Additional text formats */

.container h3 {
  font-size: 1.5em;
  line-height:1.5;
  font-weight:500;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: rgba(27, 30, 43, 0.9);
}

.container h4 {
  font-size: 1em;
  font-weight:600;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: rgba(27, 30, 43, 0.9);
}

.container h4 p {
  font-size: 1em;
  font-weight: 400;
}

.field-id {
  font-weight:500;
  font-family: system-ui;
  margin-bottom:0;
}

.description ul {
  line-height:1;
  margin-bottom:25px;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  padding-left:0;
}

.description ul li {
  margin-bottom: 0.5em;
  list-style:none;
}