beautifulsoup4==4.10.0
colorama>=0.4.3
Django==3.2.7
django-storages==1.11.1
dropbox==11.20.0
gunicorn==20.1.0
jsonschema==3.2.0
keyring>=15.1
mammoth==1.4.10
MarkupSafe==2.0.1
mistune==0.8.4
mysqlclient==1.4.6
nest-asyncio==1.5.1
pkginfo>=1.4.2
plasTeX==2.1
pyodbc==4.0.30
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.2
pyzmq==22.2.1
requests==2.26.0
sqlparse==0.3.0
tqdm>=4.14
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
